/* line 2, ../grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, ../typography/_typography.scss */
body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

/* line 46, ../grid/_visual-grid.scss */
body:before {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, rgba(129, 162, 189, 0.05) 0, rgba(129, 162, 189, 0.05) 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, rgba(129, 162, 189, 0.05) 8.5298%, rgba(129, 162, 189, 0.05) 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, rgba(129, 162, 189, 0.05) 17.05961%, rgba(129, 162, 189, 0.05) 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, rgba(129, 162, 189, 0.05) 25.58941%, rgba(129, 162, 189, 0.05) 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, rgba(129, 162, 189, 0.05) 34.11922%, rgba(129, 162, 189, 0.05) 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, rgba(129, 162, 189, 0.05) 42.64902%, rgba(129, 162, 189, 0.05) 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, rgba(129, 162, 189, 0.05) 51.17883%, rgba(129, 162, 189, 0.05) 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, rgba(129, 162, 189, 0.05) 59.70863%, rgba(129, 162, 189, 0.05) 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, rgba(129, 162, 189, 0.05) 68.23843%, rgba(129, 162, 189, 0.05) 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, rgba(129, 162, 189, 0.05) 76.76824%, rgba(129, 162, 189, 0.05) 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, rgba(129, 162, 189, 0.05) 85.29804%, rgba(129, 162, 189, 0.05) 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, rgba(129, 162, 189, 0.05) 93.82785%, rgba(129, 162, 189, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(129, 162, 189, 0.05) 0, rgba(129, 162, 189, 0.05) 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, rgba(129, 162, 189, 0.05) 8.5298%, rgba(129, 162, 189, 0.05) 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, rgba(129, 162, 189, 0.05) 17.05961%, rgba(129, 162, 189, 0.05) 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, rgba(129, 162, 189, 0.05) 25.58941%, rgba(129, 162, 189, 0.05) 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, rgba(129, 162, 189, 0.05) 34.11922%, rgba(129, 162, 189, 0.05) 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, rgba(129, 162, 189, 0.05) 42.64902%, rgba(129, 162, 189, 0.05) 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, rgba(129, 162, 189, 0.05) 51.17883%, rgba(129, 162, 189, 0.05) 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, rgba(129, 162, 189, 0.05) 59.70863%, rgba(129, 162, 189, 0.05) 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, rgba(129, 162, 189, 0.05) 68.23843%, rgba(129, 162, 189, 0.05) 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, rgba(129, 162, 189, 0.05) 76.76824%, rgba(129, 162, 189, 0.05) 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, rgba(129, 162, 189, 0.05) 85.29804%, rgba(129, 162, 189, 0.05) 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, rgba(129, 162, 189, 0.05) 93.82785%, rgba(129, 162, 189, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(129, 162, 189, 0.05) 0, rgba(129, 162, 189, 0.05) 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, rgba(129, 162, 189, 0.05) 8.5298%, rgba(129, 162, 189, 0.05) 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, rgba(129, 162, 189, 0.05) 17.05961%, rgba(129, 162, 189, 0.05) 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, rgba(129, 162, 189, 0.05) 25.58941%, rgba(129, 162, 189, 0.05) 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, rgba(129, 162, 189, 0.05) 34.11922%, rgba(129, 162, 189, 0.05) 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, rgba(129, 162, 189, 0.05) 42.64902%, rgba(129, 162, 189, 0.05) 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, rgba(129, 162, 189, 0.05) 51.17883%, rgba(129, 162, 189, 0.05) 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, rgba(129, 162, 189, 0.05) 59.70863%, rgba(129, 162, 189, 0.05) 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, rgba(129, 162, 189, 0.05) 68.23843%, rgba(129, 162, 189, 0.05) 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, rgba(129, 162, 189, 0.05) 76.76824%, rgba(129, 162, 189, 0.05) 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, rgba(129, 162, 189, 0.05) 85.29804%, rgba(129, 162, 189, 0.05) 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, rgba(129, 162, 189, 0.05) 93.82785%, rgba(129, 162, 189, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(129, 162, 189, 0.05) 0, rgba(129, 162, 189, 0.05) 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, rgba(129, 162, 189, 0.05) 8.5298%, rgba(129, 162, 189, 0.05) 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, rgba(129, 162, 189, 0.05) 17.05961%, rgba(129, 162, 189, 0.05) 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, rgba(129, 162, 189, 0.05) 25.58941%, rgba(129, 162, 189, 0.05) 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, rgba(129, 162, 189, 0.05) 34.11922%, rgba(129, 162, 189, 0.05) 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, rgba(129, 162, 189, 0.05) 42.64902%, rgba(129, 162, 189, 0.05) 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, rgba(129, 162, 189, 0.05) 51.17883%, rgba(129, 162, 189, 0.05) 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, rgba(129, 162, 189, 0.05) 59.70863%, rgba(129, 162, 189, 0.05) 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, rgba(129, 162, 189, 0.05) 68.23843%, rgba(129, 162, 189, 0.05) 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, rgba(129, 162, 189, 0.05) 76.76824%, rgba(129, 162, 189, 0.05) 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, rgba(129, 162, 189, 0.05) 85.29804%, rgba(129, 162, 189, 0.05) 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, rgba(129, 162, 189, 0.05) 93.82785%, rgba(129, 162, 189, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(129, 162, 189, 0.05) 0, rgba(129, 162, 189, 0.05) 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, rgba(129, 162, 189, 0.05) 8.5298%, rgba(129, 162, 189, 0.05) 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, rgba(129, 162, 189, 0.05) 17.05961%, rgba(129, 162, 189, 0.05) 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, rgba(129, 162, 189, 0.05) 25.58941%, rgba(129, 162, 189, 0.05) 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, rgba(129, 162, 189, 0.05) 34.11922%, rgba(129, 162, 189, 0.05) 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, rgba(129, 162, 189, 0.05) 42.64902%, rgba(129, 162, 189, 0.05) 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, rgba(129, 162, 189, 0.05) 51.17883%, rgba(129, 162, 189, 0.05) 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, rgba(129, 162, 189, 0.05) 59.70863%, rgba(129, 162, 189, 0.05) 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, rgba(129, 162, 189, 0.05) 68.23843%, rgba(129, 162, 189, 0.05) 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, rgba(129, 162, 189, 0.05) 76.76824%, rgba(129, 162, 189, 0.05) 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, rgba(129, 162, 189, 0.05) 85.29804%, rgba(129, 162, 189, 0.05) 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, rgba(129, 162, 189, 0.05) 93.82785%, rgba(129, 162, 189, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(129, 162, 189, 0.05) 0, rgba(129, 162, 189, 0.05) 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, rgba(129, 162, 189, 0.05) 8.5298%, rgba(129, 162, 189, 0.05) 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, rgba(129, 162, 189, 0.05) 17.05961%, rgba(129, 162, 189, 0.05) 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, rgba(129, 162, 189, 0.05) 25.58941%, rgba(129, 162, 189, 0.05) 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, rgba(129, 162, 189, 0.05) 34.11922%, rgba(129, 162, 189, 0.05) 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, rgba(129, 162, 189, 0.05) 42.64902%, rgba(129, 162, 189, 0.05) 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, rgba(129, 162, 189, 0.05) 51.17883%, rgba(129, 162, 189, 0.05) 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, rgba(129, 162, 189, 0.05) 59.70863%, rgba(129, 162, 189, 0.05) 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, rgba(129, 162, 189, 0.05) 68.23843%, rgba(129, 162, 189, 0.05) 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, rgba(129, 162, 189, 0.05) 76.76824%, rgba(129, 162, 189, 0.05) 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, rgba(129, 162, 189, 0.05) 85.29804%, rgba(129, 162, 189, 0.05) 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, rgba(129, 162, 189, 0.05) 93.82785%, rgba(129, 162, 189, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%);
  content: '';
  display: inline-block;
  height: 100%;
  max-width: 64em;
  position: fixed;
  width: 100%;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto; }

/* line 6, ../_sass/desktop.scss */
header div.header-content {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  header div.header-content:before, header div.header-content:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  header div.header-content:after {
    clear: both; }
  /* line 9, ../_sass/desktop.scss */
  header div.header-content div.logo {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 2.46085em; }
    /* line 55, ../grid/_grid.scss */
    header div.header-content div.logo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 54em) {
      /* line 9, ../_sass/desktop.scss */
      header div.header-content div.logo {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        /* line 55, ../grid/_grid.scss */
        header div.header-content div.logo:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 64em) {
      /* line 17, ../_sass/desktop.scss */
      header div.header-content div.logo h1 {
        font-size: 4.2358em; } }

/* line 26, ../_sass/desktop.scss */
section.description {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  section.description:before, section.description:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  section.description:after {
    clear: both; }
  /* line 29, ../_sass/desktop.scss */
  section.description div {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    zoom: 1;
    display: block;
    padding: 2em 1.5em; }
    /* line 55, ../grid/_grid.scss */
    section.description div:last-child {
      margin-right: 0; }
    /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
    section.description div:before, section.description div:after {
      content: "";
      display: table; }
    /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
    section.description div:after {
      clear: both; }
    @media screen and (min-width: 74em) {
      /* line 29, ../_sass/desktop.scss */
      section.description div {
        padding: 4em 0; } }
    /* line 38, ../_sass/desktop.scss */
    section.description div aside {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 12.64237%; }
      /* line 55, ../grid/_grid.scss */
      section.description div aside:last-child {
        margin-right: 0; }
      @media (max-width: 54em) {
        /* line 38, ../_sass/desktop.scss */
        section.description div aside {
          display: none; } }
    /* line 46, ../_sass/desktop.scss */
    section.description div section {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 82.52847%; }
      /* line 55, ../grid/_grid.scss */
      section.description div section:last-child {
        margin-right: 0; }
      @media screen and (max-width: 54em) {
        /* line 46, ../_sass/desktop.scss */
        section.description div section {
          display: block;
          float: left;
          margin-right: 4.82916%;
          width: 100%; }
          /* line 55, ../grid/_grid.scss */
          section.description div section:last-child {
            margin-right: 0; } }
    /* line 54, ../_sass/desktop.scss */
    section.description div#developers {
      border-bottom: 0; }

/* line 60, ../_sass/desktop.scss */
section.instructions {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  section.instructions:before, section.instructions:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  section.instructions:after {
    clear: both; }
  /* line 63, ../_sass/desktop.scss */
  section.instructions section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    zoom: 1;
    display: table; }
    /* line 55, ../grid/_grid.scss */
    section.instructions section:last-child {
      margin-right: 0; }
    /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
    section.instructions section:before, section.instructions section:after {
      content: "";
      display: table; }
    /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
    section.instructions section:after {
      clear: both; }
    /* line 67, ../_sass/desktop.scss */
    section.instructions section aside {
      display: table-cell;
      padding-right: 2.35765%;
      width: 25.58941%;
      padding: 2.35765%; }
      /* line 34, ../grid/_grid.scss */
      section.instructions section aside:last-child {
        padding-right: 0; }
    /* line 72, ../_sass/desktop.scss */
    section.instructions section article {
      display: table-cell;
      padding-right: 2.35765%;
      width: 76.76824%;
      padding: 2.35765%; }
      /* line 34, ../grid/_grid.scss */
      section.instructions section article:last-child {
        padding-right: 0; }
