* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #81a2bd 0, #81a2bd 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, #81a2bd 10.52632%, #81a2bd 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, #81a2bd 21.05263%, #81a2bd 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, #81a2bd 31.57895%, #81a2bd 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, #81a2bd 42.10526%, #81a2bd 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, #81a2bd 52.63158%, #81a2bd 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, #81a2bd 63.15789%, #81a2bd 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, #81a2bd 73.68421%, #81a2bd 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, #81a2bd 84.21053%, #81a2bd 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, #81a2bd 94.73684%, #81a2bd 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #81a2bd 0, #81a2bd 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, #81a2bd 10.52632%, #81a2bd 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, #81a2bd 21.05263%, #81a2bd 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, #81a2bd 31.57895%, #81a2bd 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, #81a2bd 42.10526%, #81a2bd 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, #81a2bd 52.63158%, #81a2bd 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, #81a2bd 63.15789%, #81a2bd 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, #81a2bd 73.68421%, #81a2bd 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, #81a2bd 84.21053%, #81a2bd 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, #81a2bd 94.73684%, #81a2bd 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #81a2bd 0, #81a2bd 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, #81a2bd 10.52632%, #81a2bd 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, #81a2bd 21.05263%, #81a2bd 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, #81a2bd 31.57895%, #81a2bd 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, #81a2bd 42.10526%, #81a2bd 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, #81a2bd 52.63158%, #81a2bd 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, #81a2bd 63.15789%, #81a2bd 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, #81a2bd 73.68421%, #81a2bd 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, #81a2bd 84.21053%, #81a2bd 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, #81a2bd 94.73684%, #81a2bd 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #81a2bd 0, #81a2bd 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, #81a2bd 10.52632%, #81a2bd 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, #81a2bd 21.05263%, #81a2bd 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, #81a2bd 31.57895%, #81a2bd 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, #81a2bd 42.10526%, #81a2bd 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, #81a2bd 52.63158%, #81a2bd 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, #81a2bd 63.15789%, #81a2bd 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, #81a2bd 73.68421%, #81a2bd 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, #81a2bd 84.21053%, #81a2bd 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, #81a2bd 94.73684%, #81a2bd 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #81a2bd 0, #81a2bd 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, #81a2bd 10.52632%, #81a2bd 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, #81a2bd 21.05263%, #81a2bd 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, #81a2bd 31.57895%, #81a2bd 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, #81a2bd 42.10526%, #81a2bd 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, #81a2bd 52.63158%, #81a2bd 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, #81a2bd 63.15789%, #81a2bd 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, #81a2bd 73.68421%, #81a2bd 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, #81a2bd 84.21053%, #81a2bd 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, #81a2bd 94.73684%, #81a2bd 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #81a2bd 0, #81a2bd 5.26316%, rgba(0, 0, 0, 0) 5.26316%, rgba(0, 0, 0, 0) 10.52632%, #81a2bd 10.52632%, #81a2bd 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 21.05263%, #81a2bd 21.05263%, #81a2bd 26.31579%, rgba(0, 0, 0, 0) 26.31579%, rgba(0, 0, 0, 0) 31.57895%, #81a2bd 31.57895%, #81a2bd 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 42.10526%, #81a2bd 42.10526%, #81a2bd 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, #81a2bd 52.63158%, #81a2bd 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 63.15789%, #81a2bd 63.15789%, #81a2bd 68.42105%, rgba(0, 0, 0, 0) 68.42105%, rgba(0, 0, 0, 0) 73.68421%, #81a2bd 73.68421%, #81a2bd 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 84.21053%, #81a2bd 84.21053%, #81a2bd 89.47368%, rgba(0, 0, 0, 0) 89.47368%, rgba(0, 0, 0, 0) 94.73684%, #81a2bd 94.73684%, #81a2bd 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 64em;
  opacity: 0.2;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999; }

section {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em; }
  section:before, section:after {
    content: "";
    display: table; }
  section:after {
    clear: both; }
  section > code, section code.block {
    display: block; }
  section div {
    height: 8.09em;
    line-height: 1.618em;
    text-align: left;
    padding: 1em; }
  section.zero div {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 57.89474%;
    height: 20em; }
    section.zero div:last-child {
      margin-right: 0; }
  section.first div#alpha, section.first div#zeta {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 36.84211%; }
    section.first div#alpha:last-child, section.first div#zeta:last-child {
      margin-right: 0; }
  section.first div#beta, section.first div#epsilon {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 78.94737%; }
    section.first div#beta:last-child, section.first div#epsilon:last-child {
      margin-right: 0; }
  section.first div#gamma, section.first div#delta {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 57.89474%; }
    section.first div#gamma:last-child, section.first div#delta:last-child {
      margin-right: 0; }
  section.first div#beta, section.first div#delta {
    margin-right: 0; }
  section.second div {
    height: 20em; }
    section.second div#alpha {
      display: block;
      float: left;
      margin-right: 5.26316%;
      width: 36.84211%; }
      section.second div#alpha:last-child {
        margin-right: 0; }
    section.second div#beta {
      padding: 0;
      line-height: 3.236em;
      text-align: center;
      display: block;
      float: left;
      margin-right: 5.26316%;
      width: 78.94737%; }
      section.second div#beta:last-child {
        margin-right: 0; }
      section.second div#beta aside {
        display: block;
        float: left;
        margin-right: 6.66667%;
        width: 46.66667%;
        height: 84%;
        padding: 1em; }
        section.second div#beta aside:last-child {
          margin-right: 0; }
      section.second div#beta article {
        display: block;
        float: left;
        margin-right: 6.66667%;
        width: 46.66667%;
        height: 84%;
        padding: 1em; }
        section.second div#beta article:last-child {
          margin-right: 0; }
  section.third div#dummy {
    height: 5.5em;
    text-align: center;
    border-bottom: 0;
    background-color: #ddd; }
  section.third div#alpha {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 121.05263%;
    zoom: 1;
    display: table;
    padding: 0; }
    section.third div#alpha:last-child {
      margin-right: 0; }
    section.third div#alpha:before, section.third div#alpha:after {
      content: "";
      display: table; }
    section.third div#alpha:after {
      clear: both; }
    section.third div#alpha aside {
      display: table-cell;
      padding-right: 5.26316%;
      width: 42.10526%;
      padding: 5.26316%; }
      section.third div#alpha aside:last-child {
        padding-right: 0; }
    section.third div#alpha article {
      height: 20em;
      display: table-cell;
      padding-right: 5.26316%;
      width: 84.21053%;
      padding: 5.26316%; }
      section.third div#alpha article:last-child {
        padding-right: 0; }
  section.fourth div.one-column {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 5.26316%; }
    section.fourth div.one-column:last-child {
      margin-right: 0; }
    section.fourth div.one-column.last {
      margin-right: 0; }
  section.fourth div#alpha {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 57.89474%;
    margin-left: 31.57895%;
    height: 20em;
    text-align: center; }
    section.fourth div#alpha:last-child {
      margin-right: 0; }
  section.fifth > code {
    margin-bottom: -1.5em; }
  section.fifth div.box {
    font-size: 0.78em;
    margin-top: 2em;
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 26.31579%; }
    section.fifth div.box:last-child {
      margin-right: 0; }
    section.fifth div.box:nth-child(4n) {
      margin-right: 0; }

div.code {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 0; }
  div.code:before, div.code:after {
    content: "";
    display: table; }
  div.code:after {
    clear: both; }
